.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .overlap-wrapper {
  background-color: #ffffff;
  height: 713px;
  overflow: hidden;
  width: 2000px;
}

.desktop .overlap {
  height: 1052px;
  position: relative;
  top: -28px;
}

.desktop .frame {
  height: 910px;
  left: 1040px;
  position: absolute;
  top: 0;
  width: 418px;
}

.desktop .div {
  height: 867px;
  overflow: hidden;
  position: relative;
  top: 43px;
}

.desktop .afro-pix {
  height: 31px;
  left: 126px;
  position: absolute;
  top: 8px;
  width: 143px;
}
h1 {
  text-align: center;
}
.desktop .overlap-group-wrapper {
  height: 698px;
  left: 1px;
  position: absolute;
  top: 71px;
  width: 434px;
}

.desktop .overlap-group {
  height: 560px;
  left: 9px;
  position: relative;
  top: 3px;
  width: 425px;
}

.desktop .frame-2 {
  height: 558px;
  left: 0;
  position: absolute;
  top: 0;
  width: 425px;
}

.desktop .text-wrapper {
  color: #191919;
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
}

.desktop .text-wrapper-2 {
  color: #191919;
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 4px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 98px;
  white-space: nowrap;
}

.desktop .frame-3 {
  border: 1px solid;
  border-color: #727272;
  border-radius: 8px;
  height: 27px;
  left: 0;
  position: absolute;
  top: 34px;
  width: 400px;
}

.desktop .frame-4 {
  border: 1px solid;
  border-color: #727272;
  border-radius: 8px;
  height: 27px;
  left: 4px;
  position: absolute;
  top: 133px;
  width: 400px;
}

.desktop .overlap-group-2 {
  height: 299px;
  left: 4px;
  position: absolute;
  top: 259px;
  width: 421px;
}

.desktop .frame-5 {
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 421px;
}

.desktop .text-wrapper-3 {
  color: #191919;
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1.5px;
  white-space: nowrap;
}

.desktop .not-a-member-sign-up {
  color: #191919;
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 75px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 38px;
  white-space: nowrap;
}

.desktop .text-wrapper-4 {
  color: #191919;
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 183px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 87px;
  white-space: nowrap;
}

.desktop .text-wrapper-5 {
  color: #191919;
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 255px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1.5px;
  white-space: nowrap;
}

.desktop .rectangle {
  border: 1px solid;
  border-color: #727272;
  height: 10px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 9px;
}

.desktop .vector {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 96px;
  width: 173px;
}

.desktop .img {
  height: 1px;
  left: 226px;
  object-fit: cover;
  position: absolute;
  top: 96px;
  width: 178px;
}

.desktop .frame-6 {
  height: 241px;
  left: 111px;
  position: absolute;
  top: 58px;
  width: 166px;
}

.desktop .text-wrapper-6 {
  color: #f2faff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
}

.desktop .div-wrapper {
  height: 19px;
  left: 0;
  position: absolute;
  top: 222px;
  width: 166px;
}

.desktop .text-wrapper-7 {
  color: #f2faff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
}

.desktop .login-with-FB {
  height: 42px;
  left: 14px;
  position: absolute;
  top: 427px;
  width: 390px;
}

.desktop .overlap-2 {
  border-radius: 8px;
  height: 42px;
  position: relative;
}

.desktop .log-in-with-facebook-wrapper {
  border: 1px solid;
  border-color: #000000;
  border-radius: 8px;
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
  /* background:#1778f2;*/
}

.desktop .log-in-with-facebook {
  color: transparent;
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 108px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -5px;

  white-space: nowrap;
}

.desktop .span {
  color: #000000;
}

.desktop .text-wrapper-8 {
  color: #191919;
}

.desktop .vector-2 {
  height: 27px;
  left: 6px;
  position: absolute;
  top: 8px;
  width: 27px;
}

.desktop .frame-7 {
  background-color: #8ec711;
  border: 1px solid;
  border-color: #000000;
  border-radius: 8px;
  height: 42px;
  left: 4px;
  position: absolute;
  top: 200px;
  width: 400px;
}

.desktop .text-wrapper-9 {
  color: #f2faff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 161px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 55px;
}

.desktop .login-with-google {
  border: 1px solid;
  border-color: #000000;
  border-radius: 8px;
  height: 42px;
  left: 14px;
  position: absolute;
  top: 518px;
  width: 390px;
}

.desktop .frame-8 {
  height: 42px;
  position: relative;
  width: 261px;
}

.desktop .text-wrapper-10 {
  color: #191919;
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 118px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
}

.desktop .frame-9 {
  height: 20px;
  left: 8px;
  position: absolute;
  top: 10px;
  width: 20px;
}

.desktop .frame-10 {
  height: 1052px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.desktop .overlap-3 {
  height: 1052px;
  position: relative;
  width: 960px;
}

.desktop .rectangle-wrapper {
  height: 1052px;
  left: 0;
  position: absolute;
  top: 0;
  width: 960px;
}

.desktop .rectangle-2 {
  background-color: #f5f5f5;
  height: 1024px;
  position: relative;
  top: 28px;
}

.desktop .carpenter {
  height: 713px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 960px;
}
